{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			},
			"lodash"
		],
		"@babel/plugin-transform-typescript",
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread"
	],
	"ignore": [
		"node_modules/**"
	]
}