# Maven Wrapper files that will be regenerate automatically
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
/.idea/*
!/.idea
!/.idea/codeStyles

*.iml

# Java
target/
coverage/

# Release scripts
*.bat

# Manual tests
commonjs.html
modulejs.html

# Node.js
node_modules/
.eslintcache

# Credentials
/keys.txt