syntax: glob

# IntelliJ IDEA
.idea/

# Files generated as part of the build
**/node_modules/
target/
coverage/
.nyc_output/

# Release scripts
*.bat

# Manual tests
commonjs.html
modulejs.html

# Yarn 2+
.pnp.cjs
.pnp.loader.mjs
.yarn/**

# Unignore specific yarn directories: https://stackoverflow.com/a/5534865/14731
!.yarn/
!.yarn/patches
!.yarn/patches/**

!.yarn/releases
!.yarn/releases/**